@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/style.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/freelancer.css")">

		<link href="@routes.Assets.versioned("bootstrap/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
        <!-- BootStrap -->
        <link href="public/css/bootstrap.css" rel='stylesheet' type='text/css'/>
		<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="col-md-offset-1 col-md-10">
            <div id="section_header">
                <h1>Welcome to CFL Pregame</h1>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-info btn-lg">hello</button>
        </div>

    </body>
</html>
